<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>175237399994-51vojummc1p9i2djre7ih86v354pgqd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175237399994-51vojummc1p9i2djre7ih86v354pgqd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBZPlD7MhACXnXYUXK13b0kFesQA4HZ3nI</string>
	<key>GCM_SENDER_ID</key>
	<string>175237399994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roigoujat.StudentQuiz</string>
	<key>PROJECT_ID</key>
	<string>student-quizz</string>
	<key>STORAGE_BUCKET</key>
	<string>student-quizz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175237399994:ios:1075e019a8ae4a09</string>
	<key>DATABASE_URL</key>
	<string>https://student-quizz.firebaseio.com</string>
</dict>
</plist>